/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
  padding: 0;
}

/* header */

.page-header {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 2%;
  padding: 4%;
}

.page-header__logo {
  width: 11%;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 7%;
  margin-right: 340px;
}

.page-header__products-list,
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-header__products-item {
  margin: 0;
  padding: 0;
}

.page-header__products-item + .page-header__products-item {
  margin-left: 10px;
}

.page-header__products-link,
.main-nav__link {
  font-size: 12px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 0.4em;
}

.main-nav__link {
  color: #d7d7d7;
  margin-left: 10px;
}

.main-nav__link:last-child {
  padding-right: 0;
}

.page-header__products-link:hover,
.page-header__products-link:focus,
.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.5;
}

.page-header__products-link:active,
.main-nav__link:active {
  opacity: 0.8;
}

.main-nav {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .page-header {
    margin-bottom: 3%;
  }

  .page-header__logo {
    width: 15%;
  }

  .page-header__products-list,
  .page-header__logo {
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 768px) {
  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page-header__logo {
    width: 25%;
    min-height: 20px;
    margin: 0;
    margin-bottom: 2%;
  }

  .main-nav {
    margin: 0;
  }

  .page-header__products-list {
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 320px) {
  .page-header__logo {
    width: 30%;
  }
}

/* main */

.main {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.presentation {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.presentation__title {
  font-size: 64px;
  margin: 0;
  padding: 0.12em;
}

.presentation__text {
  position: relative;
  width: 20%;
  text-align: center;
  margin: 0;
  margin-bottom: 1.8%;
  padding: 0.5em;
}

.presentation__text::after {
  content: "";
  position: absolute;
  top: 165%;
  left: 40%;
  width: 20%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.presentation__video {
  width: 100vw;
  min-height: 66%;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .presentation__text {
    width: 30%;
  }

  .presentation__text::after {
    top: 125%;
  }
}

@media screen and (max-width: 768px) {
  .presentation__title {
    font-size: 54px;
  }

  .presentation__text {
    width: 40%;
  }

  .presentation__text::after {
    width: 15%;
    top: 115%;
  }

  .presentation__video {
    min-height: 75%;
  }
}

@media screen and (max-width: 320px) {
  .presentation__title {
    font-size: 44px;
  }

  .presentation__text {
    width: 60%;
    margin-bottom: 4%;
    font-size: 12px;
  }
}

/* overview */

.overview {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

  padding-top: 32%;
  padding-left: 10%;
  padding-bottom: 14%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.overview__info-title,
.overview__title {
  max-width: 20%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  padding: 0.2em;
}

.overview__title {
  margin-bottom: 2.5%;
}

.overview__info-title {
  margin-bottom: 5%;
}

.overview__table {
  margin-bottom: 16%;
  text-align: left;
  max-width: 50%;
}

.overview__info {
  width: 38%;
  margin: 0;
  margin-bottom: 240px;
  padding: 0;
}

.overview__info-text {
  width: 100%;
  margin: 0;
  padding: 0.8em 0;
  line-height: 1.85;
}

.overview__table th {
  text-transform: uppercase;
}

.overview__table th,
.overview__table td {
  padding-top: 0.6em;
  padding-bottom: 0.5em;
}

.overview__table td {
  padding-left: 1.2em;
}

.overview__table-slash {
  color: #808080;
}

@media screen and (max-width: 1024px) {
  .overview {
    padding-top: 12%;
  }

  .overview__title {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .overview {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 12%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .overview__title {
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 2%;
    text-align: center;
  }

  .overview__info {
    width: 38%;
    margin-bottom: 240px;
    margin-right: auto;
    margin-left: 10%;
  }

  .overview__table {
    max-width: 100%;
  }

  .overview__table th {
    text-transform: none;
  }

  .overview__table td {
    padding-left: 0.6em;
  }
}

@media screen and (max-width: 600px) {
  .overview {
    padding-top: 12%;
  }

  .overview__info {
    width: 100%;
    max-width: 100%;
    margin-bottom: 240px;
    margin: 0;
  }

  .overview__info-title {
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 2%;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .overview__info-title,
  .overview__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 3%;
  }

  .overview__info-text {
    padding: 0.5em 1em;
    line-height: 1.85;
  }
}

/* rocket */

.rocket {
  width: 30%;
  min-height: 65%;
  position: absolute;
  right: 8%;
  top: 50%;
  z-index: 10;
  background-image: url("../img/falcon.png");
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.rocket__img {
  display: none;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .rocket {
    min-height: 70%;
    top: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .rocket {
    width: 55%;
    min-height: 50%;
    background-size: 100% 100%;
    top: 75%;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .rocket {
    width: 55%;
    min-height: 45%;
    background-size: 100% 100%;
    top: 80%;
    right: 0;
  }
}

@media screen and (max-width: 600px) {
  .rocket {
    display: none;
  }

  .rocket__img {
    display: block;
  }
}

/* footer */

.page-footer {
  width: 100%;
  max-width: 100%;
  margin: 0;

  padding: 3.5% 2%;
  padding-bottom: 2%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.page-footer__logo {
  width: 11%;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2.5%;

  -webkit-animation-duration: 2s;

  animation-duration: 2s;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-delay: 1000;
  animation-delay: 1000;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-footer__social-item {
  margin: 0;
  padding: 0;
}

.page-footer__social-item + .page-footer__social-item {
  margin-right: 7px;
}

.page-footer__social-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em;
  font-size: 18px;
}

.page-footer__social-link:hover,
.page-footer__social-link:focus {
  opacity: 0.5;
}

.page-footer__social-link:active {
  opacity: 0.8;
}

.page-footer__contacts {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-footer__contacts-text {
  color: #808080;
  font-size: 18px;
  margin: 0;
  margin-bottom: 2%;
  padding: 0.7em;
  padding-left: 0;
  text-align: right;
}

.page-footer__contacts-mail {
  color: #808080;
  text-decoration: none;
}

.page-footer__contacts-mail:hover,
.page-footer__contacts-mail:focus {
  opacity: 0.5;
}

.page-footer__contacts-mail:active {
  opacity: 0.8;
}

.page-footer__contacts-btn {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border: 2px solid #ffffff;
  padding: 0.8em 4em;
  padding-right: 5.5em;
  text-align: center;
  margin-bottom: 10px;
}

.page-footer__contacts-btn:hover,
.page-footer__contacts-btn:focus {
  opacity: 0.5;
}

.page-footer__contacts-btn {
  opacity: 0.8;
}

.logo__img {
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .page-footer__logo {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .page-footer__logo {
    width: 25%;
    margin-bottom: 2%;
  }

  .page-footer__social-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2%;
  }

  .page-footer__contacts-text {
    padding: 0.7em;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .page-footer__logo {
    width: 30%;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  70% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

#d {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.star::before {
  content: "";
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.star {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
}

.shine {
  -webkit-animation: shine infinite alternate;
  animation: shine infinite alternate;
}

@-webkit-keyframes shine {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.9;
  }
  40% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.2;
  }
  60% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.9;
  }
}

@keyframes shine {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.8;
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.9;
  }
  40% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.2;
  }
  60% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.1;
  }
  80% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.9;
  }
}
