*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0;
}

/* header */

.page-header {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 2%;
  padding: 4%;
}

.page-header__logo {
  width: 11%;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 7%;
  margin-right: 340px;
}

.page-header__products-list,
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__products-item {
  margin: 0;
  padding: 0;
}

.page-header__products-item + .page-header__products-item {
  margin-left: 10px;
}

.page-header__products-link,
.main-nav__link {
  font-size: 12px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 0.4em;
}

.main-nav__link {
  color: #d7d7d7;
  margin-left: 10px;
}

.main-nav__link:last-child {
  padding-right: 0;
}

.page-header__products-link:hover,
.page-header__products-link:focus,
.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.5;
}

.page-header__products-link:active,
.main-nav__link:active {
  opacity: 0.8;
}

.main-nav {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

/* main */

.main {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.presentation {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presentation__title {
  font-size: 64px;
  margin: 0;
  padding: 0.12em;
}

.presentation__text {
  position: relative;
  width: 20%;
  text-align: center;
  margin: 0;
  margin-bottom: 3%;
  padding: 0.5em;
}

.presentation__text::after {
  content: "";
  position: absolute;
  top: 165%;
  left: 40%;
  width: 20%;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(90deg);
}

.presentation__video {
  width: 125%;
  min-height: 66%;
}

/* overview */

.overview {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

  padding-top: 32%;
  padding-left: 10%;
  padding-bottom: 14%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overview__info-title,
.overview__title {
  max-width: 20%;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  padding: 0.2em;
}

.overview__title {
  margin-bottom: 2.5%;
}

.overview__info-title {
  margin-bottom: 5%;
}

.overview__table {
  margin-bottom: 16%;
}

.overview__info {
  width: 38%;
  margin: 0;
  margin-bottom: 240px;
  padding: 0;
}

.overview__info-text {
  width: 100%;
  margin: 0;
  padding: 0.8em 0;
  line-height: 1.85;
}

.overview__table {
  text-align: left;
}

.overview__table th {
  text-transform: uppercase;
}

.overview__table th,
.overview__table td {
  padding-top: 0.6em;
  padding-bottom: 0.5em;
}

.overview__table td {
  padding-left: 1.2em;
}

.overview__table-slash {
  color: #808080;
}

/* rocket */

.rocket {
  width: 30%;
  min-height: 55%;
  position: absolute;
  right: 8%;
  top: 50%;
  z-index: 10;
  background-image: url("../img/falcon.png");
  background-position: center top;
  background-repeat: no-repeat;
}

/* footer */

.page-footer {
  width: 100%;
  max-width: 100%;
  margin: 0;

  padding: 3.5% 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-footer__logo {
  width: 11%;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2.5%;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-footer__social-item {
  margin: 0;
  padding: 0;
}

.page-footer__social-item + .page-footer__social-item {
  margin-right: 7px;
}

.page-footer__social-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em;
  font-size: 18px;
}

.page-footer__social-link:hover,
.page-footer__social-link:focus {
  opacity: 0.5;
}

.page-footer__social-link:active {
  opacity: 0.8;
}

.page-footer__contacts {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer__contacts-text {
  color: #808080;
  font-size: 18px;
  margin: 0;
  margin-bottom: 2%;
  padding: 0.7em;
  padding-left: 0;
  text-align: right;
}

.page-footer__contacts-btn {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border: 2px solid #ffffff;
  padding: 0.8em 4em;
  padding-right: 5.5em;
  text-align: center;
}

.page-footer__contacts-btn:hover,
.page-footer__contacts-btn:focus {
  opacity: 0.5;
}

.page-footer__contacts-btn {
  opacity: 0.8;
}

.logo__img {
  margin: auto;
}
